<header class="navbar-interactive">
  <!-- Navbar para escritorio -->
  <div class="navbar-desktop-menu flex-row">
    <!-- Logo -->
    <img [alt]="navbarData().logo.alt"
         [src]="navbarData().logo.src"
         class="logo"
         width="500"
         height="50"
    />

    <!-- Contenedor de enlaces principales -->
    <nav id="navigation-bar" class="flex-row">
      @for (link of navbarData().links; track link.label){
        <a [routerLink]="link.routerLink"
           class="text-body-small link">
          <span>{{link.label}}</span>
        </a>
      }
    </nav>

    <!-- Contenedor de botones -->
    <div class="flex-row">
      @for (button of navbarData().buttons; track $index){
        <button [routerLink]="button.routerLink"
                class="button-link button-animated"
                [ngClass]="$index % 2 === 0 ? 'button-background-filled-reverse' : 'button-background-filled'">
          {{button.label}}
        </button>
      }
      @if (logged()) {
        <ng-container [ngTemplateOutlet]="logoutBtn"></ng-container>
      }
    </div>
  </div>

  <!-- Botón de menú (burger menu) para móvil -->
  <div class="navbar-burger-menu" (click)="toggleMobileMenu()">
    <svg viewBox="0 0 1024 1024" class="navbar-icon-pop-up">
      <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667-42.667z"></path>
    </svg>
  </div>

  <!-- Menú móvil -->
  <div class="navbar-mobile-menu" [class.active]="mobileMenuOpen">
    <div class="flex-column menu">
      <!-- Encabezado del menú móvil -->
      <div class="navbar-top section-max-width flex-row">
        <img [alt]=navbarData().logo.alt [src]="navbarData().logo.src" class="logo" />
        <img alt="close" (click)="toggleMobileMenu()" class="navbar-close-menu navbar-icon-pop-up" src="assets/close-button-icon-png.png" >
      </div>

      <!-- Contenedor de enlaces móviles -->
      <nav id="links-pop-up" class="flex-column">
        @for (link of navbarData().mobileLinks; track link.header.title){
          <a [routerLink]="link.routerLink"
             (click)="toggleMobileMenu()">
            <div class="flex-row">
              <img [src]="link.image.src" [alt]="link.image.alt" class="navbar-page-image img-ratio-1-1"/>
              <div class="flex-column link-content">
                <span class="navbar-page text-body-large">{{link.header.title}}</span>
                <span class="text-body-small">{{link.header.text}}</span>
              </div>
            </div>
          </a>
        }
      </nav>

      <!-- Contenedor de botones móviles -->
      <div class="flex-row">
        @for (button of navbarData().buttons; track $index){
          <button [routerLink]="button.routerLink"
                  class="button-link button-animated"
                  [ngClass]="$index % 2 === 0 ? 'button-background-filled-reverse' : 'button-background-filled'">
            {{button.label}}
          </button>
        }
        @if (logged()) {
          <ng-container [ngTemplateOutlet]="logoutBtn"></ng-container>
        }
      </div>
    </div>
  </div>
</header>

<ng-template #logoutBtn>
  <button (click)="logout()"
          class="button-animated button-background-filled button-link">
    {{logOutButton.label}}
  </button>
</ng-template>
