<div class="section-padding">
  <div class="recipe-steps-max-width section-max-width">
    <div class="recipe-steps-container-section">
      <span id="recipe-steps-title" class="recipe-steps-title heading-2 recipe-steps-text">{{title}}</span>
    </div>
    <div class="recipe-steps-timeline-container">
      <div id="recipe-ingredients" class="recipe-steps-step">
        <div class="recipe-steps-separator">
          <div class="recipe-steps-separator-point"></div>
          <div class="recipe-steps-separator-bar"></div>
        </div>
        <div class="recipe-steps-step-content">
          <span class="heading-3 recipe-steps-text">Ingredients</span>
          <ul class="recipe-steps-ul list">
            @for (ingredient of ingredients; track ingredient){
              <li class="list-item">
                <span class="recipe-steps-text recipe-steps-ingredient">{{ingredient.title}} - {{ingredient.text}}</span>
              </li>
            }
          </ul>
        </div>
      </div>
      @for (step of steps; track step.title){
        <div class="recipe-steps-step">
          <div class="recipe-steps-separator">
            <div class="recipe-steps-separator-point"></div>
            <div class="recipe-steps-separator-bar"></div>
          </div>
          <div class="recipe-steps-step-content">
            <span class="heading-3 recipe-steps-text">{{step.title}}</span>
            <span class="text-body-small recipe-steps-text">{{step.text}}</span>
          </div>
        </div>
        }
    </div>
    <div class="recipe-steps-container-section">
      <div class="recipe-steps-container25">
        <h2 class="recipe-steps-title heading-2 recipe-steps-text">Rate this recipe!</h2>
        <div class="star-rating-wrapper">
          <!--StarRating component-->
          <star-rating></star-rating>
        </div>
      </div>
    </div>
  </div>
</div>
