<div class="section-padding">
  <div class="stats-max-width section-max-width">
    <div class="stats-image-container flex-column">
      <img [alt]="stats.intro.image.alt" [src]="stats.intro.image.src" class="img-ratio-1-1 stats-image"/>
    </div>
    <div class="stats-content flex-column">
      <span id="stats-subtitle" class="text-body-small  stats-text">{{stats.intro.header.text}}</span>
      <span id="stats-title" class="heading-2  stats-text">{{stats.intro.header.title}}</span>
      <p id="stats-description" class="text-body-large  stats-text">{{stats.description}}</p>
      <div class="grid-columns-2">
        @for (stat of stats.stats; track stat.title) {
          <div class=" stats-cell">
            <span class="heading-2  stats-text">{{stat.title}}</span>
            <span class="text-body-small  stats-text">{{stat.text}}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
