<div class="carousel-container ">
  <div class="carousel-column section-padding section-max-width">
    <div class="carousel-header">
      <span class=" heading-1 carousel-text">{{header().title}}</span>
      <p class=" text-body-large carousel-text">{{header().text}}</p>
    </div>
  </div>
  <div class="carousel-gallery">
    <ng-template #recipeImage let-pair >
      <img
        routerLink="/recipes/page"
        [queryParams]="{a:pair.authorData.id,r:pair.recipeData.id}"
        [alt]="pair.recipeData.description.intro.image.alt"
        [src]="pair.recipeData.description.intro.image.src"
        class="carousel-placeholder-image img-scale" />
    </ng-template>
    <div class="carousel-container-horizontal">
      <div class="carousel-horizontal">
          @for (pair of duplicate(normal()); track $index) {
            <ng-container *ngTemplateOutlet="recipeImageTemplate; context: { $implicit:pair}"></ng-container>
          }
      </div>
    </div>
    <div class="carousel-container-horizontal">
      <div class="carousel-horizontal carousel-horizontal-reverse">
        @for (pair of duplicate(reverse()); track $index) {
          <ng-container *ngTemplateOutlet="recipeImageTemplate; context: { $implicit:pair}"></ng-container>
        }
      </div>
    </div>
  </div>
</div>



