<div class="marketing-layout">
  <div class="marketing-max-width">
    <div class="marketing-section-title">
      <div class="marketing-column">
        <span id="marketing-subheading" class="text-body-small ">{{marketing().header.text}}</span>
        <span id="marketing-title" class="heading-2">{{marketing().header.title}}</span>
      </div>
      <span id="marketing-description" class="text-body-small ">{{marketing().description}}</span>
    </div>
    <div id="marketing-features" class="marketing-row flex-row">
      @for (feature of marketing().features; track feature.header.title){
        <div class="marketing-feature flex-column">
          <img [alt]="feature.image.alt" [src]="feature.image.src"
               class="img-ratio-4-3 marketing-feature-image"/>
          <div class="flex-column">
            <h3 class="heading-3">{{feature.header.title}}</h3>
            <span class="text-body-small">{{feature.header.text}}</span>
          </div>
        </div>
      }
    </div>
    <div class="marketing-actions">
      <button class="button-background-filled-reverse">
              <span class="text-body-small">
                  <a href="#" id="link-recipes" class="button-link">Look up recipes</a>
              </span>
      </button>
    </div>
  </div>
</div>
