<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="register" href="/tabs/register">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sign-in" href="/tabs/sign-in">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Sign in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-recipes" href="/tabs/my-recipes">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>My Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites" href="/tabs/favourites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
