.slider-container, .swiper, .swiper-wrapper {
  align-items: center;
}

.testimonials-slide-container {
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
  display: grid;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: center;
  height: 100%;
}

.testimonials-slide-container:hover img {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.testimonials-slide-container img {
  transition: transform 0.3s ease;
}


.testimonials-thumbnail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--dl-radius-radius-radius4);
}

.testimonials-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.testimonials-stars {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.testimonials-avatar {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.testimonials-avatar-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.testimonials-text {
  font-style: normal;
  font-weight: 600;
}

.recipes-testimonials-logo {
  height: auto;
  width: auto;
  max-width: 50%;
  object-fit: contain;
}

@media(max-width: 1300px) {
  .testimonials-content {
    align-items: center;
    justify-content: center;
  }
  .testimonials-avatar {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }

}

@media(max-width: 767px) {
  .testimonials-slide-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .testimonials-thumbnail {
    height: auto;
    max-height: 100%;
  }
}

@media(max-width: 479px) {
  .testimonials-text {
    text-align: center;
  }
  .testimonials-avatar {
    flex-direction: column;
  }
  .testimonials-avatar-content {
    align-items: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
